.header-main .header-nav-item{
    justify-content: end;
}
.nav-secund-picture{
    width: 35rem;
    margin-left: 15px;
}
.header-nav-secund .nav-secund-my{
    justify-self: end;
    margin-right: 80px;
    font-size: 2rem;
}
.main-intro .main-intro-tittle{
    font-size: 5rem;
    letter-spacing: 5px;
    margin-top: 60px;
}
.main-intro-click{ 
    width: 20rem;
    height: 5rem;
    margin-top: 5rem;
}
